* { padding: 0; margin: 0; }

#principal{
	width: 960px;
	margin: 20px auto;
  padding: 20px;
}

#joc{
	position:relative;
	margin-top: 40px;
	width:740px;
	height:400px;
	background: #eee; 
	display: block; 
	margin: 0 auto;
}
#inici, #fi{
	position:absolute;
	left: 275px; top: 50px;
	width: 400px; height: 300px;
	margin: 200px auto;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.3em;
	text-align:center;
	border:thick #990 solid;
	border-radius: 25px;
	background-color: #CFC;  
	opacity: 0.9;
}
.dreta{
	text-align:right;
}
#game {
	background-color: #eee;  /* color gris clar  */
	border: #666 50px solid;
	border-bottom-width: 0;
	display: block;
	margin: 0 auto;
}

#capçalera{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.2em;
	background-color:#A3A352;  /* rgb(163,163,82) */
	height: 200px;
	border-radius:25px;
}
#seleccio{
	width: 325px;
	height: 75px;
	background-color: hotpink;
	text-align: center;
	position:relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 250px;
	font-family: Consola;
	color: black;
	box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
#jugar{
	position: relative;
	margin-top: 10px;
}

body{
	text-align: center;
	color: rgb(148, 148, 148);
	background: url(../imatges/fons.webp);
}
button {
	background-color: #000;
	border-radius: 10px;
	color: #fff;
	padding: 8px;
	position: relative;
	box-shadow: 0 0 30px 0 hotpink,
				0 0 30px 0 hotpink,
				0 0 10px 0 hotpink inset;
	margin-top: 20px;
	margin-inline-start: 10px;
}
button:before{
	content: '';
	display: block;
	background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.4) 50%);
	background-size: 210% 100%;
	background-position: right bottom;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	bottom:0;
	right:0;
	left: 0;
	border-radius: 50px;
	transition: all 1s;
	-webkit-transition: all 1s;
}
  
#Nivell1 {
	background-image: linear-gradient(to right, #25aae1, #40e495);
	border: .5px solid #40e495;
	box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

#Nivell1:hover:before {
	background-position: left bottom;
}
#Nivell2 {
	background-image: linear-gradient(to right, #6253e1, #852D91);
	border: .5px solid #6253e1;
	box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

#Nivell2:hover:before {
	background-position: left bottom;
}
#Nivell3 {
	background-image: linear-gradient(to right, #8b1f55, #7e777b);
	border: .5px solid #8b1f55;
	box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

#Nivell3:hover:before {
	background-position: left bottom;
}

#nom{
	margin-top: 10px;
	border-radius: 3px;
}
#puntuacio{
	width: 250px;
	height: 70px;
	background-color: hotpink;
	margin-right: 647px;
	margin-left: auto;
	position:relative;
	float: right;
	font-family: Consola;
	color: black;
	box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
#vides{
	width: 250px;
	height: 70px;
	background-color: hotpink;
	margin-right: auto;
	margin-left: 647px;
	font-family: Consola;
	color: black;
	box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
#lose, #win{
	color: white;
	font-family: Consola;
	text-align: center;
	position:relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 250px;
}
